__pycache__/
*.py[cod]
/.venv/

/mails/**
!/mails/example.txt

/includes/**
!/includes/example-signature.txt
!/includes/example-signature.html

# there are likely to be credentials stored here. only the example one should be in git
/senderconfig.json